In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"E:\ProjectPy\sqlproject1\netflix_titles.csv")
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

## Câu 1 : Count the number of Movies vs TV Shows



SELECT  type,
        count(*) as count_of_each_type
FROM netflix_titles
GROUP BY type

In [4]:
# Python
df['type'].value_counts().reset_index()

      type  count
0    Movie   6131
1  TV Show   2676

## Câu 2 : Find the most common rating for movies and TV shows

SQL 

SELECT  type,
        rating,
        count(*) as count_common_rating
FROM    netflix_titles
WHERE   type in('Movie','TV Show')
GROUP BY rating,type
ORDER BY count_common_rating DESC
LIMIT 1

In [5]:
# Python

df[['type','rating']].value_counts(ascending=False).reset_index().head(5)

      type rating  count
0    Movie  TV-MA   2062
1    Movie  TV-14   1427
2  TV Show  TV-MA   1145
3    Movie      R    797
4  TV Show  TV-14    733

## Câu 3 : List all movies released in a specific year (e.g., 2020)

SQL 

SELECT * 
FROM netflix_titles
WHERE type='Movie' AND release_year=2020

In [6]:
# Python

df[(df['type']=='Movie') & (df['release_year']==2020)]
# hoặc có thể là df.query("type='Movie' and release_year=2020")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
78,s79,Movie,Tughlaq Durbar,Delhiprasad Deenadayalan,"Vijay Sethupathi, Parthiban, Raashi Khanna",NaN,"September 11, 2021",2020,TV-14,145 min,"Comedies, Dramas, International Movies",A budding politician has devious plans to rise...
84,s85,Movie,Omo Ghetto: the Saga,"JJC Skillz, Funke Akindele","Funke Akindele, Ayo Makun, Chioma Chukwuka Akp...",Nigeria,"September 10, 2021",2020,TV-MA,147 min,"Action & Adventure, Comedies, Dramas",Twins are reunited as a good-hearted female ga...
103,s104,Movie,Shadow Parties,Yemi Amodu,"Jide Kosoko, Omotola Jalade-Ekeinde, Yemi Blaq...",NaN,"September 6, 2021",2020,TV-MA,117 min,"Dramas, International Movies, Thrillers",A family faces destruction in a long-running c...
...,...,...,...,...,...,...,...,...,...,...,...,...
3046,s3047,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...",Mexico,"January 3, 2020",2020,TV-14,90 min,"Comedies, International Movies, Romantic Movies",Thirteen-year-old José Miguel is immune to 199...
3060,s3061,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...",India,"January 1, 2020",2020,TV-MA,145 min,"Horror Movies, International Movies, Thrillers","The directors of Emmy-nominated ""Lust Stories""..."
5972,s5973,Movie,#cats_the_mewvie,Michael Margolis,NaN,Canada,"February 5, 2020",2020,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
7594,s7595,Movie,Norm of the North: Family Vacation,Anthony Bell,"Andrew Toth, Lisa Durupt, Jonathan Holmes, Pau...",United States,"May 25, 2020",2020,TV-Y7,89 min,Children & Family Movies,"Stressed by his duties as king and father, Nor..."
8099,s8100,Movie,Straight Up,James Sweeney,"James Sweeney, Katie Findlay, Randall Park, Hi...",United States,"June 26, 2020",2020,TV-MA,96 min,"Comedies, Independent Movies, LGBTQ Movies",When a gay brainiac with OCD questions his ide...

## Câu 4: Find the top 5 countries with the most content on Netflix

SQL 

SELECT  UNNEST(STRING_TO_ARRAY(country,',')) as new_country,
        COUNT(*) AS total_content
FROM netflix_titles
GROUP BY new_country
ORDER BY count(*)
LIMIT 5

In [7]:
# Python

df1=df.copy();
df1['country_list']=df['country'].str.split(',');
df1_exploded=df1.explode('country_list');
result=df1_exploded['country_list'].value_counts(ascending=False).reset_index().head(5);
result

# explode là hàm giống với unnest ở trong sql : Từ một list trong một ô thì từ đó tạo ra nhiều hàng và tự động ánh xạ các ô còn lại giống nhau trong hàng đó

     country_list  count
0   United States   3211
1           India   1008
2  United Kingdom    628
3   United States    479
4          Canada    271

## Câu 5 : Identify the longest movie or TV show duration

SQL 

SELECT  *
FROM netflix_titles
WHERE
    type='Movie'
    AND
    duration= (SELECT MAX(duration) FROM netflix_titles)

In [8]:
## Nên dùng SQL trong trường hợp này

## Câu 6 : Find content added in the last 5 years

SQL 

SELECT  *,date_added
FROM    netflix_titles
WHERE date_added>CURRENT_DATE- INTERVAL '5 years'

In [9]:
from datetime import datetime


df['date_added']=pd.to_datetime(df['date_added'].str.strip(),errors='coerce')

current_date=datetime.now();

# DateOffset có chức năng như interval là tạo một khoảng thời gian 5 năm trước kể từ ngày được xét
five_years_ago=current_date-pd.DateOffset(years=5);

df[df['date_added']>=five_years_ago].head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Câu 7 : Find all the movies/TV shows by director 'Rajiv Chilaka'

SQL

SELECT *
FROM netflix_titles
WHERE type in ('Movie','TV Show') AND director LIKE '%Rajiv Chilaka%'

In [10]:
df[df['director'].str.contains('Rajiv Chilaka',na=False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
406,s407,Movie,Chhota Bheem - Neeli Pahaadi,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2013,TV-Y7,64 min,Children & Family Movies,Things get spooky when Bheem and his buddies t...
407,s408,Movie,Chhota Bheem & Ganesh,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2009,TV-Y7,68 min,Children & Family Movies,Bheem and Lord Ganesha join forces to save Dho...
408,s409,Movie,Chhota Bheem & Krishna: Mayanagari,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2011,TV-Y7,67 min,Children & Family Movies,Young lord Krishna has fallen for demoness Maa...
409,s410,Movie,Chhota Bheem & Krishna: Pataliputra- City of t...,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2010,TV-Y7,66 min,Children & Family Movies,Krishna needs Bheem’s help: The ruined city of...
410,s411,Movie,Chhota Bheem And The Broken Amulet,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,2021-07-22,2013,TV-Y7,64 min,Children & Family Movies,When a stranger tries to steal an amulet from ...
411,s412,Movie,Chhota Bheem And The Crown of Valhalla,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2013,TV-Y7,64 min,Children & Family Movies,To save the kingdom of Valhalla from invasion ...
412,s413,Movie,Chhota Bheem and the Incan Adventure,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2013,TV-Y7,65 min,Children & Family Movies,"When Dholakpur’s princess is kidnapped, Bheem ..."
413,s414,Movie,Chhota Bheem and The ShiNobi Secret,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2013,TV-Y7,64 min,Children & Family Movies,After learning of a samurai village under thre...
414,s415,Movie,Chhota Bheem Aur Hanuman,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2012,TV-Y7,68 min,Children & Family Movies,When two evil entities kidnap a princess in a ...
415,s416,Movie,Chhota Bheem aur Krishna,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,2021-07-22,2009,TV-Y7,68 min,Children & Family Movies,"Centuries after the end of a conqueror's rule,..."
416,s417,Movie,Chhota Bheem aur Krishna vs Zimbara,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2013,TV-Y7,64 min,Children & Family Movies,A demon of darkness is plotting world dominati...
419,s420,Movie,Chhota Bheem: Bheem vs Aliens,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2010,TV-Y7,69 min,"Children & Family Movies, Sports Movies",Space invaders have kidnapped Dholakpur’s king...
420,s421,Movie,Chhota Bheem: Dholakpur to Kathmandu,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2012,TV-Y7,70 min,Children & Family Movies,Bheem’s holiday in Nepal takes an unexpected t...
421,s422,Movie,Chhota Bheem: Dus Pe Dus,"Rajiv Chilaka, Owll Mina","Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2014,TV-Y7,63 min,Children & Family Movies,After a precious temple stone is stolen under ...
422,s423,Movie,Chhota Bheem: Journey to Petra,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2011,TV-Y7,68 min,Children & Family Movies,"The king has been away to meet an old friend, ..."
423,s424,Movie,Chhota Bheem: Master of Shaolin,Rajiv Chilaka,"Pooja Punabi, Mausam, Julie Tejwani, Rupa Bhim...",NaN,2021-07-22,2011,TV-Y7,74 min,Children & Family Movies,Summoned by a monk to help reclaim a temple fr...
424,s425,Movie,Chhota Bheem: The Rise of Kirmada,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,2021-07-22,2012,TV-Y7,68 min,Children & Family Movies,Bheem and young lord Krishna team up to protec...
2717,s2718,Movie,Chhota Bheem and the Curse of Damyaan,Rajiv Chilaka,"Kaustav Ghosh, Jigna Bhardwaj, Chutki, Rajesh ...",India,2020-04-01,2012,TV-Y7,87 min,Children & Family Movies,An evil demon who traded his freedom for immor...
2737,s2738,Movie,Mighty Raju Rio Calling,"Rajiv Chilaka, Anirban Majumder, Alka Amarkant...",NaN,India,2020-04-01,2014,TV-Y7,97 min,"Children & Family Movies, Sports Movies",Mighty Raju preps for a new adventure in Rio d...
6297,s6298,Movie,Bheemayan,Rajiv Chilaka,NaN,NaN,2019-05-10,2018,TV-Y,63 min,Children & Family Movies,"It's Diwali! To celebrate, Chhota Bheem and hi..."
6464,s6465,Movie,Chhota Bheem Kungfu Dhamaka,"Rajiv Chilaka, Binayak Das","Sonal Kaushal, Rupa Bhimani, Jigna Bharadhwaj,...",India,2019-08-15,2019,TV-Y7,112 min,Children & Family Movies,Chhota Bheem is in China for a martial arts co...
6645,s6646,Movie,Dragonkala Ka Rahasya,Rajiv Chilaka,NaN,NaN,2019-06-18,2018,TV-Y,68 min,Children & Family Movies,Bheem helps to reopen Dragonpur's abandoned ma...

## Câu 8 : List all TV shows with more than 5 seasons

In [11]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

SQL 

SELECT Season_Value AS Count_Season
FROM (
    SELECT *, 
           (SELECT [value] 
            FROM STRING_SPLIT(LTRIM(duration), ' ', 1) 
            WHERE ordinal = 1) AS Season_Value
    FROM netflix_titles
) AS Temp
WHERE CAST(Season_Value AS INTEGER)>5

In [12]:
df_season=df[df['type']=='TV Show'].copy()
df_season['duration']=df_season['duration'].str.strip().str.split(' ').str[0]
df_season[df_season['duration'].astype(int)>5]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
55,s56,TV Show,Nailed It,NaN,"Nicole Byer, Jacques Torres",United States,2021-09-15,2021,TV-PG,6,Reality TV,Home bakers with a terrible track record take ...
65,s66,TV Show,Numberblocks,NaN,"Beth Chalmers, David Holt, Marcel McCalla, Ter...",United Kingdom,2021-09-15,2021,TV-Y,6,Kids' TV,"In a place called Numberland, math adds up to ..."
67,s68,TV Show,Saved by the Bell,NaN,"Mark-Paul Gosselaar, Tiffani Thiessen, Mario L...",United States,2021-09-15,1994,TV-PG,9,"Kids' TV, TV Comedies","From middle school to college, best friends Za..."
82,s83,TV Show,Lucifer,NaN,"Tom Ellis, Lauren German, Kevin Alejandro, D.B...",United States,2021-09-10,2021,TV-14,6,"Crime TV Shows, TV Comedies, TV Dramas","Bored with being the Lord of Hell, the devil r..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8189,s8190,TV Show,The Andy Griffith Show,NaN,"Andy Griffith, Ron Howard, Don Knotts, Frances...",United States,2017-07-01,1967,TV-G,8,"Classic & Cult TV, TV Comedies",Homespun humor and easygoing Sheriff Andy Tayl...
8378,s8379,TV Show,The L Word,NaN,"Jennifer Beals, Leisha Hailey, Laurel Holloman...","Canada, United States",2018-03-20,2009,TV-MA,6,"Romantic TV Shows, TV Dramas",This trailblazing series follows the tangled l...
8442,s8443,TV Show,The Office (U.S.),NaN,"Steve Carell, John Krasinski, Jenna Fischer, R...",United States,2016-01-01,2012,TV-14,9,TV Comedies,This hit comedy chronicles the foibles of disg...
8557,s8558,TV Show,The West Wing,NaN,"Martin Sheen, Rob Lowe, Allison Janney, John S...",United States,2015-12-25,2005,TV-14,7,TV Dramas,This powerful political epic chronicles the tr...
8710,s8711,TV Show,Weeds,NaN,"Mary-Louise Parker, Hunter Parrish, Alexander ...",United States,2014-04-01,2012,TV-MA,8,"TV Comedies, TV Dramas",A suburban mother starts selling marijuana to ...

## Câu 9: Count the number of content items in each genre

In [13]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

SQL 

SELECT  TRIM(genre) as new_genre,
        COUNT(*) AS number_of_content
FROM(
    SELECT UNNEST(STRING_TO_ARRAY(listed_in,',')) as genre
    FROM netflix_titles
) AS temp
GROUP BY new_genre
ORDER BY  number_of_content DESC

In [15]:
df2=df.copy();
df2['listed_in']=df2['listed_in'].str.split(',');
df2_exploded=df2.explode('listed_in');
df2_exploded['listed_in']=df2_exploded['listed_in'].str.strip();
df2_exploded['listed_in'].value_counts(ascending=False).reset_index().rename(columns={'count': 'total_content'})

                       listed_in  total_content
0           International Movies           2752
1                         Dramas           2427
2                       Comedies           1674
3         International TV Shows           1351
4                  Documentaries            869
5             Action & Adventure            859
6                      TV Dramas            763
7             Independent Movies            756
8       Children & Family Movies            641
9                Romantic Movies            616
10                   TV Comedies            581
11                     Thrillers            577
12                Crime TV Shows            470
13                      Kids' TV            451
14                    Docuseries            395
15              Music & Musicals            375
16             Romantic TV Shows            370
17                 Horror Movies            357
18               Stand-Up Comedy            343
19                    Reality TV            255
20              British TV Shows            253
21              Sci-Fi & Fantasy            243
22                 Sports Movies            219
23                  Anime Series            176
24     Spanish-Language TV Shows            174
25         TV Action & Adventure            168
26               Korean TV Shows            151
27                Classic Movies            116
28                  LGBTQ Movies            102
29                  TV Mysteries             98
30           Science & Nature TV             92
31           TV Sci-Fi & Fantasy             84
32                     TV Horror             75
33                Anime Features             71
34                   Cult Movies             71
35                 Teen TV Shows             69
36          Faith & Spirituality             65
37                  TV Thrillers             57
38                        Movies             57
39  Stand-Up Comedy & Talk Shows             56
40             Classic & Cult TV             28
41                      TV Shows             16

## Câu 10: Find each year and the average numbers of content release by India on netflix and return top 5 year with highest avg content release

SQL 

SELECT  YEAR(CAST(date_added AS DATE)) AS Year,
        COUNT(*),
        ROUND(COUNT(*)*1.0/(SELECT COUNT(*) FROM netflix_titles WHERE country LIKE '%India%') *100,2) as avg_content_per_year
FROM netflix_titles
WHERE country LIKE '%India%'
GROUP BY  Year
ORDER BY avg_content_per_year
LIMIT 5

In [18]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [26]:
df_india=df[df['country'].str.contains('India',na=False)]
df_india['year']=pd.to_datetime(df_india['date_added']).dt.year
df_result=df_india.groupby('year').show_id.count().sort_values(ascending=False).reset_index().rename(columns={'show_id':'avg_content'})
df_result['avg_content_per_year']=df_result['avg_content']/len(df_india)*100
df_result

C:\Users\HDTC\AppData\Local\Temp\ipykernel_13464\3185318602.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india['year']=pd.to_datetime(df_india['date_added']).dt.year

   year  avg_content  avg_content_per_year
0  2018          349             33.365201
1  2019          218             20.841300
2  2020          199             19.024857
3  2017          162             15.487572
4  2021          105             10.038241
5  2016           13              1.242830

## Câu 11 : List all movies that are documentaries

In [27]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

SQL 

SELECT * 
FROM netflix_titles
WHERE (type='Movie') AND (listed_in LIKE '%Documentaries%')

## Câu 12: Find all content without a director

In [30]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

SQL 

SELECT * 
FROM netflix_titles
WHERE director IS NULL

In [33]:
df[df['director'].isnull()].head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,2021-09-22,2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...

## Câu 13: Find how many movies actor 'Salman Khan' appeared in last 10 years

SQL

SELECT COUNT(*) AS count_movies
FROM netflix_titles
WHERE ([cast] LIKE '%Salman Khan%') AND release_year > YEAR(GETDATE())-10 AND type='Movie'

In [34]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [40]:
current_year=datetime.now().year
df_cast_required=df[(df['cast'].str.contains('Salman Khan',na=False)) & (df['type']=='Movie') & (df['release_year']>current_year-10)]
df_cast_required

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2756,s2757,Movie,Paharganj,Rakesh Ranjan Kumar,"Lorena Franco, Bijesh Jayarajan, Neet Chowdhar...",India,2020-03-31,2019,TV-MA,107 min,"Dramas, Independent Movies, International Movies","In the underbelly of a Delhi neighborhood, a w..."

## Câu 14 : Find the top 10 actors who have appeared in the highest number of movies produced in [India]

SQL 

SELECT  TOP 10
        TRIM(s.value) AS cast_name,
        COUNT(*) AS number_of_movies
FROM netflix_titles
CROSS APPLY SPRING_SPLIT(cast,',') AS s
WHERE country LIKE '%India%'
GROUP BY cast_name
ORDER BY number_of_movies DESC

In [41]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [47]:
df14=df.copy()
df14['cast']=df14['cast'].str.split(',')
df14_exploded=df14.explode('cast')
df14_exploded['cast']=df14_exploded['cast'].str.strip()
df_cast=df14_exploded[(df14_exploded['country'].str.contains('India',na=False)) & (df14_exploded['type']=='Movie')]
df_cast['cast'].value_counts(ascending=False).reset_index().rename(columns={'count':'number_of_movies'}).head(10)

               cast  number_of_movies
0       Anupam Kher                40
1    Shah Rukh Khan                34
2  Naseeruddin Shah                31
3           Om Puri                29
4      Akshay Kumar                29
5  Amitabh Bachchan                28
6      Paresh Rawal                28
7       Boman Irani                27
8    Kareena Kapoor                25
9        Ajay Devgn                21

## Câu 15: Categorize the content based on the presence of the keywords 'kill' and 'violence' in the description field. Label content containing these keywords as 'Bad' and all other content as 'Good'. Count how many items fall into each category.

SQL 

SELECT  CASE 
            WHEN description LIKE '%kill%' OR description LIKE '%violence%' THEN 'Bad' ELSE 'Good' END AS review,
        COUNT(*) AS number_of_contents
FROM netflix_titles        
GROUP BY review

In [48]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [50]:
import numpy as np
df_result=df.assign(review = lambda df: np.where(df['description'].str.contains('kill|violence',na=False),'Bad','Good'))
df_result['review'].value_counts().reset_index()

  review  count
0   Good   8472
1    Bad    335